

h1 {
    color: #6e68b7;
    font-family:serif
 }
h2 {
    color:aqua; 
}
h2 {
    color:#2b5d5d;
    font-family:oswald;
}

body {
    background-color: rgba(37, 255, 179, 0.24);
}

h4 {
    color: #000000;
}

#left-col {
    background-color: #1d1313 width: 50em;
    height: 250vh;
}

#right-col {
    background-color: rgba(0, 0, 0, 0.26);
    margin-left: 40em;
    width: 2px;
    height: 450vh;
   color:#ff0000; 
}

#profile-pic {
    border-radius: 30%;
    
    
}

h1 {
    color: rgba(76, 141, 170, 0.75);
}

ul {
    list-style: none;
}
.section-head {
    margin-top: 2em;
    color:#679898
         font-family:serif
}

#Objective {
    margin-top: 2em;
    color:#000000;
     font-family:oswald;
}

#Education {
    margin-top:2em;
     color:#000000;
     font-family:oswald;
}

#WorkExperience {
    margin-top: 2em;
     color:#000000;
    font-family:oswald;
}

#SeminarsAttended {
    margin-top: 2em;
     color:#000000;
    font-family:oswald;
}

#ResearchPapers {
    margin-top: 2em;
      color:#000000;
    font-family:oswald;
}

#PersonalBackground {
    margin-top: 2em;
      color:#000000;
    font-family:oswald;
}

#References {
    margin-top: 2em;
      color:#000000; 
    font-family:oswald;
}
h4 {
    font-family:oswald;
} 
h5 {
    font-family:oswald;
}